html {
  color: #404040;
  font-size: 16px;
  font-family: Verdana;
}

/*HEADER*/
header {
  height: 64px;
  display: flex;
  justify-content: space-between;
}
#logo {
  margin-left: 24px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}
#logo img {
  height: 32px;
}
#logo p {
  font-size: 20px;
}
.emphasized {
  font-weight: 600;
}
.de-emphasized {
  font-weight: 100;
  color: #a6a6a6;
}
header nav {
  font-weight: 100;
  margin-right: 24px;
  display: flex;
  justify-content: row;
  align-items: center;
}
header nav p {
  margin-left: 16px;
  font-weight: 100;
  font-size: 15px;
}
@media only screen and (min-width: 600px) {
  #mobile-header {
    display: none;
  }
}
/*^^^This isn't working. I can still see the mobile nav bar*/

@media only screen and (max-width: 600px) {
  header {
    display: none;
  }
}
#mobile-header {
  height: 64px;
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  justify-content: space-between;
}

/*BANNER*/
#banner {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
}
#banner img {
  width: 60%;
  height: auto;
  padding: 32px 24px;
}
.column-content {
  text-align: left;
  display: flex;
  flex-direction: column;
}
#banner .column-content {
    width: 30%;
}
#banner h1 {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px;
  line-height: 2.5rem;
}
#banner h4 {
  font-size: 18px;
  line-height: 1.5rem;
  padding-bottom: 20px;
}
#banner button {
  background-color: #404040;
  color: #d9d9d9;
  width: 90%;
}
#banner button p {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  color: white;
}

@media only screen and (max-width: 600px) {
  /*Not centered quite right*/
  #banner {
    flex-direction: column;
    justify-content: center;
  }
  #banner img {
    width: 100%;
    padding: 1px;
  }
  #banner .column-content {
    width: 100%;
    display: flex;
    padding-left: 16px;
    padding-top: 32px;
  }
  #banner h1 {
    padding-bottom: 32px;
  }
  #banner h4 {
    padding-bottom: 24px;
  }
  #banner button {
    margin-bottom: 32px;
    background-color: #989898;
  }
  #banner button p {
    font-weight: bold;
  }
}

/*CONTENT SECTION-1*/
#section-1 {
  display: flex;
}
#main {
  width: 60%;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 32px;
}
#main img {
  width: 100%;
  height: auto;
  padding-top: 32px;

}
#main .column-content {
  width: 100%;
}
h2 {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 24px;
  padding-top: 32px;
  line-height: 2.5rem;
}
p {
  font-size: 13px;
  font-weight:lighter;
  line-height: 1.1rem
}
#quote {
  padding-bottom: 24px;
}
.credit {
  font-size: 11px;
}

#other-info {
  width: 35%;
  padding-top: 16px;
  border-left: 0.5px solid #DCDCDC;
  display: flex;
  flex-direction: column;
}
.box {
  width: 100%;
  border-bottom: 1px solid #DCDCDC;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.thumbnail {
  width: 65%;
  padding: 16px;
}
.thumbnail img {
  width: 100%;
  height: auto;
}
.text {
  width: 65%;
}
h5 {
  font-size: 17px;
  line-height: 1.5rem;
  font-weight: 600;
  padding-bottom: 8px;
}
a {
  color: #80bfff;
  text-decoration: none;
  font-size: 13px;
  padding-top: 8px;
}
#guest {
  background-color: #DCDCDC;
}

@media only screen and (max-width: 600px) {
  #main {
    display: none;
  }
  #other-info {
    width: 100%;
  }
  .box {
    display: block;
  }
/*Need to put in other images*/
}

/*CONTENT SECTION-2*/
#section-2 {
  background-color: #E8E8E8;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#classes {
  padding-left: 72px;
  padding-right: 72px;
  display: flex;
  flex-direction: column;
}
.row {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.subject {
  background-color: white;
  text-align: left;
  width: 30%;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
}
.subject img {
  width: 100%;
  height: auto;
  padding-bottom: 16px;
}
#subject-1 {
  margin-right: 32px;
}
#subject-2 {
  margin-right: 32px;
}
.subject h5 {
  padding-left: 16px;
}
.subject p {
  padding-top: 8px;
  padding-left: 16px;
}

/*CONTENT SECTION-3*/
#section-3 h2 {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
#thesis {
  display: flex;
}
#video {
  display: block;
  width: 100%;
}
video {
width: 100%;
}
#thesis .column-content h5 {
  padding-top: 24px;
  padding-bottom: 8px;
}
#thesis .column-content p {
  padding-bottom: 32px;
}
#fisma {
  background-color: #DCDCDC;
}

/*COPYRIGHT SECTION*/
footer {
  display: flex;
  justify-content: space-between;
}
footer p {
  font-size: 12px;
}
#terms {
  display: flex;
}
#terms p {
  padding-right: 12px;
}
