html {
  color: #404040;
  font-size: 16px;
  font-family: Verdana;
}

/*HEADER*/
header {
  height: 64px;
  display: flex;
  justify-content: space-between;
}
#logo {
  margin-left: 24px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}
#logo img {
  height: 32px;
}
#logo p {
  font-size: 20px;
}
.emphasized {
  font-weight: 600;
}
.de-emphasized {
  font-weight: 100;
  color: #a6a6a6;
}
header nav {
  font-weight: 100;
  margin-right: 24px;
  display: flex;
  justify-content: row;
  align-items: center;
}
header nav p {
  margin-left: 16px;
  font-weight: 100;
  /*Need to be bigger*/
}

/*BANNER*/
#banner {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
}
#banner img {
  width: 60%;
  height: auto;
  padding: 32px 24px;
}
.column-content {
  display: flex;
  flex-direction: column;
}
#banner .column-content {
    width: 30%;
}
#banner h1 {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px;
  line-height: 2.5rem;
}
#banner h4 {
  font-size: 18px;
  line-height: 1.5rem;
  padding-bottom: 20px;
}
#banner button {
  background-color: #404040;
  color: #d9d9d9;
  width: 90%;
}
#banner button p {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
}

/*CONTENT SECTION-1*/
#section-1 {

  display: flex;
}
#main {
  /*Alignment still isn't quite right.*/
  width: 60%;
  padding: 32px 24px;
}
#main img {
  width: 100%;
  height: auto;

}
#main .column-content {
  width: 100%;

}
h2 {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 24px;
  padding-top: 32px;
  line-height: 2.5rem;
}
p {
  font-size: 13px;
  font-weight: 100;
  /*for some reason it's not showing up as light. Change font color!*/
  line-height: 1.1rem
}
#quote {
  padding-bottom: 24px;
}
.credit {
  font-size: 11px;
}

#other-info {
  width: 40%;
  padding-top: 16px;
  border-left: 1px solid #DCDCDC;
  display: flex;
  flex-direction: column;
}
.box {
  border-bottom: 3px solid #DCDCDC;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.thumbnail {
  width: 35%;
  padding: 16px;
}
.thumbnail img {
  width: 100%;
  height: auto;
}
.text {
  width: 65%;
}
h5 {
  font-size: 17px;
  line-height: 1.5rem;
  font-weight: 600;
  padding-bottom: 8px;
}
a {
  color: #80bfff;
  text-decoration: none;
  font-size: 13px;
  padding-top: 8px;
}
#guest {
  background-color: #DCDCDC;
}

/*CONTENT SECTION-2*/
#section-2 {
  background-color: #E8E8E8;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#classes {
  padding-left: 72px;
  padding-right: 72px;
  display: flex;
  flex-direction: column;
}
.row {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.subject {
  background-color: white;
  text-align: left;
  width: 30%;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
}
.subject img {
  width: 100%;
  height: auto;
  padding-bottom: 16px;
}
#subject-1 {
  margin-right: 32px;
}
#subject-2 {
  margin-right: 32px;
}
.subject h5 {
  padding-left: 16px;
}
.subject p {
  padding-top: 8px;
  padding-left: 16px;
}
