html {
  color: #404040;
  font-size: 16px;
  font-family: Verdana;
}

/*HEADER*/
header {
  height: 64px;
  display: flex;
  justify-content: space-between;
}
#logo {
  margin-left: 24px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}
#logo img {
  height: 32px;
}
#logo p {
  font-size: 20px;
}
.emphasized {
  font-weight: 600;
}
.de-emphasized {
  font-weight: 100;
  color: #a6a6a6;
}
header nav {
  font-weight: 100;
  margin-right: 24px;
  display: flex;
  justify-content: row;
  align-items: center;
}
header nav p {
  margin-left: 16px;
  font-weight: 100;
}

/*BANNER*/
#banner {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
}
#banner img {
  width: 60%;
  height: auto;
  padding: 32px 24px;
}
.column-content {
  display: flex;
  flex-direction: column;
}
#banner .column-content {
    width: 30%;
}
#banner h1 {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px;
  line-height: 2.5rem;
}
#banner h4 {
  font-size: 18px;
  line-height: 1.5rem;
  padding-bottom: 20px;
}
#banner button {
  background-color: #404040;
  color: #d9d9d9;
  width: 90%;
}
#banner button p {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
}

/*CONTENT SECTION-1*/
#section-1 {
  padding-bottom: 32px;
  display: flex;
}
#main {
  width: 60%;
  padding: 32px 24px;
}
#main img {
  width: 100%;
  height: auto;

}
#main .column-content {
  width: 100%;

}
h2 {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 24px;
  line-height: 2.5rem;
}
p {
  font-size: 14px;
  font-weight: 100;
  /*for some reason it's not showing up as light.*/
  line-height: 1.1rem
}
#quote {
  padding-bottom: 24px;
}
.credit {
  font-size: 11px;
}

#other-info {
  width: 30%;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}
.box {
  display: flex;
  flex-direction: row;
}
.thumbnail {
  width: 35%;
  padding: 16px;
}
.thumbnail img {
  width: 100%;
  height: auto;
}
.text {
  width: 65%;
